global
    maxconn 4096
    log /dev/null local0
    tune.bufsize 8192
    tune.maxrewrite 512
    nbthread 1

defaults
    mode http
    log /dev/null local0
    option dontlognull
    option http-keep-alive
    timeout connect 1s
    timeout client  10s
    timeout server  10s
    timeout http-request 5s
    timeout http-keep-alive 30s

frontend fraud_frontend
    bind *:9999
    default_backend fraud_backend

backend fraud_backend
    balance leastconn
    option httpchk GET /ready
    http-check expect status 200
    timeout connect 1s
    timeout server 5s
    server api1 api1:3000 check inter 2s rise 1 fall 2
    server api2 api2:3000 check inter 2s rise 1 fall 2
